

<h1 class="page-header">作业管理</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		请自行保证作业实现的幂等性
	</div>
	
	<div class="panel-body">
		<table id="jobs-detail-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
		    <thead>
		        <tr>
		            <th>作业名</th>
		            <th>运行状态</th>
		            <th>cron</th>
		            <th>描述</th>
		        </tr>
		    </thead>
		</table>
	</div>
</div>

<script src="/resources/js/web/job.js"></script>

